@model SensorMobCRUD.Models.Measurment

@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<form method="post" asp-controller="measurment" asp-action="add">
    <table>
        <tr>
            <td>Id</td>
            <td>
                <b>
                    Id # will be inserted automatically (last one autoincremented).
                </b>
            </td>
        </tr>
        <tr>
            <td>sensorId</td>
            <td>
                <input type="number" asp-for="sensorId" required="required" />
            </td>
        </tr>
        <tr>
            <td>pm_1_0</td>
            <td>
                <input type="number" asp-for="pm_1_0" min="0" required="required" />
            </td>
        </tr>
        <tr>
            <td>pm_2_5</td>
            <td>
                <input type="number" asp-for="pm_2_5" min="0" required="required" />
            </td>
        </tr>
        <tr>
            <td>pm_10</td>
            <td>
                <input type="number" asp-for="pm_2_5" min="0" required="required" />
            </td>
        </tr>
        <tr>
            <td>Temperature</td>
            <td>
                <input type="number" asp-for="temp" min="-50" max="50" required="required" />
            </td>
        </tr>
        <tr>
            <td>Humidity</td>
            <td>
                <input type="number" asp-for="hum" min="0" max="100" required="required" />
            </td>
        </tr>
        <tr>
            <td>Time of the measurment</td>
            <td>
                <input type="datetime-local" asp-for="time" value="2020-15-05 19:30" min="0008-06-07 00:00" max="9999-06-14 00:00" required="required" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>

