
@{
    ViewData["Title"] = "Map_XXXTENTACION";
}

<h2>Map</h2>

<body>
    <img src="~/images/OfficeLayoutWithIDs.png" alt="Workplace" usemap="#workmap" />

    <map name="workmap">
        <area shape="rect" coords="140,320,180,380" alt="Computer" href="@Url.Action("ReturnMeasurements", "Home")?id=1"> @*second one is he controller!*@
        <area shape="rect" coords="190,320,290,380" alt="Phone" href="@Url.Action("ReturnMeasurements", "Home")?id=2">
    </map>
</body>